<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rpk Website</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header class="conteiner">
        <span class = "logo"><img src="{% static 'main/img/S_height-Photoroom.png' %}" alt=""></span>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Договоры</a></li>
                <li><a href="#">Студенты</a></li>
                <li class = "tmn"><a href="#">Регистрация</a></li>
                <li class = "btn"><a href="#">Войти</a></li>
            </ul>
        </nav>
    </header>

    <div class = "d">
    </div>
    <img src="../../static/main/img/Nice%20to%20meet%20you.svg" alt="">
</body>
</html>