@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding : 0;
}
 body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
 }

 a {
    text-decoration: none;
 }
 img {
    max-width: 100%;
 }
.conteiner{
   max-width: 1400px;
   margin:0 auto;
}

header{
   padding: 50px 0;
}
header .logo {
text-transform: uppercase;
font-size: 29px;
font-weight: 600;
}

header nav{
 float: right;
 width: 50%;
}

header nav ul{
   list-style: none;
   display: flex;
   justify-content: space-between;

}
header nav ul li{
display: inline-block;
}
header nav ul li a {color:black}

header nav ul li.active::after{
   content: '';
   display: block;
   width: 40px;
   height: 5px;
   background: #BDD7FA;
   border-radius: 10px;
}

header nav ul li:not(.active):not(.btn):not(.tmn) a:hover{
border-bottom: 5px solid #BDD7FA;
}

header nav ul li.btn a{
   background: #F1733C;
   padding: 9px 17px;
   border-radius: 10px;
   transition: all 500ms ease ;
}

header nav ul li.btn a:hover{
background: #9a4724;
}

header nav ul li.tmn a{
   background: #F1733C;
   padding: 9px 17px;
   border-radius: 10px;
   transition: all 500ms ease ;

}

header nav ul li.tmn a:hover{
   background: #9a4724;
   }


